body {
  margin: 0;
  font-family: "Spoqa Han Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Spoqa Han Sans",
    monospace;
}

@font-face{
  font-family: "Spoqa Han Sans";
  src: url(./assets/fonts/Spoqa\ Han\ Sans\ Regular.ttf) format('truetype');
}